html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 156px;
}

.header {
    background-color: #4694DC;
    min-height: 500px;
    padding-top: 82px;
    padding-bottom: 82px;
    color: white;
}
.header-title {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 35px;
}
.header-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 437px;
    margin-bottom: 48px;
    
}
.header-button {
    width: 194px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    background: white;
    border: none;
}

.services .block {
    text-align: center;
    margin-bottom: 116px;
}
.block_title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-bottom: 25px;
}
.block_text {
    max-width: 465px;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 24px;
    font-weight: 400;
    color: #9CA3AF
}
/* Services */
.services {
    padding: 89px 0 169px;

}
.services_item {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto;
}
.item {
    width: 280px;
    height: 117px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_items_img {
    align-self: center;
}
.services_items_title {
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
}
/* Team */
.team .block {
    text-align: center;
    margin-bottom: 81px;
}
.team {
    padding-bottom: 130px;  
}
.team_items {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto;
    
}

.item_team {
    max-width: 260px;
    width: 100%;
    height: 76px;
    border-radius: 11px;
    align-items: center;
    line-height: 26px;
    display: flex;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 70px rgba(91,93,99,0.06);
}
.team_items_img {
    align-self: center;
    margin-right: 8px;
}
.team_title {
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    margin-top: 11px;
    margin-bottom: 0;
}
.team_text {
    font-size: 11px;
    font-style: italic;
    color: #9CA3AF;
    margin-top: 0;

}

/* Services */
@media screen and (max-width: 1366px) {
    .team .container {
        padding: 0 15px;
    }
}
@media screen and (max-width: 1024px){
    .team_items {    
    flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .services_item {
        flex-direction: column;
        align-items: center;
    }

    .services_items_title {
        font-size: 14px;
    }

    .header-button {
        width: 160px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .header-title {
        font-size: 36px;
    }
}
    
